/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Jenn Hueting
Developer @GA in DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
     font-family: 'Open Sans', sans-serif;
     margin: auto;
     background-color:#f0efef;
     width: 1160px
}

header {
  padding: 30px 110px 75px 110px;
  background-color: #033048;
}

.relaxr {
  color:#FFF;
  font-weight: 800;
  font-size: 40px;
  float: left;
  clear: both;
}

.yellow {
  font-weight: 800;
  font-size: 40px;
  color: #f9e42e;
  text-align: center;
  padding: 20px 0px 40px 0px;
}

.nav_top {
  float:right;
}

#blog_all {
  padding: 50px 100px;
}

.main {
    width:72%;
    float:left;
    padding:10px; 
}

.sidebar_text {
  padding-bottom: 50px;
} 

.read_more_link {
  float: right;
  font-size: 24px;
  font-weight: 600;
  padding: 30px 0px;
  color: #033048;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
  padding-bottom: 30px;
  padding-top: 10px;
  line-height: 1.25;
} 

h2 {
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 15px;
  color: #033048;
} 

h3 {
  font-size: 36px;
  font-weight: 600;
  color: #033048;
}

.body_copy {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: #606161;
}

.main_nav_list_item {
  padding: 0px 15px;
  color: #f9e42e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: inline;
  list-style: none;
  font-size: 24px;
}

.main_nav_link {
  color: #f9e42e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

.main_nav_list {
  padding-top: 10px;
}

a.main_nav_link:hover {
    color: #FFF;
}

a.read_more_link:hover {
    color: #1E7694;
}

a.learn_more_link:hover {
    color: #1E7694;
}

.first_character { 
  float: left; 
  color: #606161; 
  font-size: 75px; 
  line-height: 60px; 
  font-weight: 600;
  padding-right: 8px; 
}

.photo {
  padding-bottom: 30px;
}

hr {
  clear: both;
}

.learn_more_link {
  font-size: 22px;
  font-weight: 600;
  color: #033048;
}

.sidebar {
    line-height:30px;
    width:25%;
    float:right;
    padding:5px; 
    margin-left: 20px;
}

.categories {
  list-style: none;
  color: #033048;
}

.about_body_copy {
  font-size: 22px;
  font-weight: 300;
  color: #033048;
}

.ad_unit {
  height: 600px;
  background-color: #FFF;
  text-align: center;
  padding: 30px;
}

#signup_area {
  background-color: #f9e42e;
  padding: 30px;
  clear:both;
} 

.signup_button {
  font-weight: 800;
  border-radius: 5px;
  color:#FFF;
  font-size: 16px;
  background-color: #033048;
  padding: 15px;
  text-align: center;
  width:200px;
  margin: auto;
}

footer {
  background-color: #121212;
  height:250px;
  padding: 20px 70px;
  margin: auto;
}

.icons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 20px; 
    padding: 0px 10px;
}

#socialmedia {
  text-align:center;
}

.copyright {
  text-align: center;
  color: #FFF;
  font-size: 9px;
  font-weight: 600;
  padding: 40px 0px;
  clear: both;
}

